<div class="container" style="margin-bottom: 100px;">

    <h5>
        Editar Veiculo  
    </h5>
    
    <form [formGroup]="formVeiculo" (ngSubmit)="salvar()">
      <div class="form-group">
        <label for="id">ID</label>
        <input type="number" class="form-control" [attr.disabled]="veiculo ? '' : null"
          id="id" [(ngModel)]="veiculo.id" formControlName="id">
      </div>
    
      <div class="form-group">
        <label for="placa">Placa</label>
        <input type="text" class="form-control" formControlName="placa"
          id="placa" placeholder="Placa do Veiculo" [(ngModel)]="veiculo.placa">
      </div>
    
      <div class="form-group">
        <label for="modelo">Modelo</label>
        <input type="text" class="form-control" formControlName="modelo"
          id="modelo" placeholder="Modelo do Veiculo" [(ngModel)]="veiculo.modelo">
      </div>
    
      <div class="form-group">
        <label for="cor">Cor</label>
        <input type="text" class="form-control" formControlName="cor"
          id="cor" placeholder="Cor do Veiculo" [(ngModel)]="veiculo.cor">
      </div>
    
      <div class="form-group">
        <label for="tipo">Selecione o Tipo do Veículo</label>
        <select class="form-control" id="tipo" formControlName="id_tipo">
          <option *ngFor='let tip of tipos' 
          [selected]="veiculo.tipo?.cod_tipo === tip.cod_tipo" 
          [value]="tip.cod_tipo">{{tip.descricao}}</option>    
        </select>
      </div>
        
      <div class="form-group">
        <label for="codCliente">Selecione o Proprietário</label>
        <select class="form-control" id="codCliente" formControlName="cod_cliente">
          <option *ngFor='let cli of clientes' 
          [selected]="veiculo.cliente?.id === cli.id" [value]="cli.id">{{cli.nome}}</option>    
        </select>
      </div>

      <div *ngIf="msg" class="alert alert-success" role="alert">
        {{msg}}
      </div>
    
      <div class="float-left">
        <button type="submit" class="btn btn-success">Salvar</button>
      </div>
      <div class="float-left" style="margin-left: 10px;">
        <button type="button" class="btn btn-danger" (click)="cancelar()">Cancelar</button>
      </div>
    </form>
    
</div> 
    