<h3 class="display-5 text-center">Vagas</h3>

<div class="car-park">
    <ul class="showcase">
        <li>
          <div class="legenda livre"></div>
          <small>Disponível</small>
        </li>
        <li>
          <div class="legenda ocupada"></div>
          <small>Ocupado</small>
        </li>
    </ul>

    <a [routerLink]="['/estadias/cadastrar']" [queryParams]="{ vaga: 1 }">
        <div class="vagas ocupada">
         1
        </div>
    </a>    
    <a [routerLink]="['/estadias/cadastrar']" [queryParams]="{ vaga: 2 }">
        <div class="vagas ocupada">
         2
        </div>
    </a>
    <a [routerLink]="['/estadias/cadastrar']" [queryParams]="{ vaga: 3 }">
        <div class="vagas livre">
         3
        </div>
    </a>
    <a [routerLink]="['/estadias/cadastrar']" [queryParams]="{ vaga: 4 }">
        <div class="vagas livre">
         4
        </div>
    </a>
    <a [routerLink]="['/estadias/cadastrar']" [queryParams]="{ vaga: 5 }">
        <div class="vagas livre">
         5
        </div>
    </a>
    <a [routerLink]="['/estadias/cadastrar']" [queryParams]="{ vaga: 6 }">
        <div class="vagas livre">
         6
        </div>
    </a>
    <a [routerLink]="['/estadias/cadastrar']" [queryParams]="{ vaga: 7 }">
        <div class="vagas livre">
         4
        </div>
    </a>
    <a [routerLink]="['/estadias/cadastrar']" [queryParams]="{ vaga: 8 }">
        <div class="vagas livre">
         8
        </div>
    </a>
    <a [routerLink]="['/estadias/cadastrar']" [queryParams]="{ vaga: 9 }">
        <div class="vagas livre">
         9
        </div>
    </a>
    <a [routerLink]="['/estadias/cadastrar']" [queryParams]="{ vaga: 10 }">
        <div class="vagas livre">
         10
        </div>
    </a>
    <a [routerLink]="['/estadias/cadastrar']" [queryParams]="{ vaga: 11 }">
        <div class="vagas livre">
         11
        </div>
    </a>
    <a [routerLink]="['/estadias/cadastrar']" [queryParams]="{ vaga: 12 }">
        <div class="vagas livre">
         12
        </div>
    </a>
    <a [routerLink]="['/estadias/cadastrar']" [queryParams]="{ vaga: 13 }">
        <div class="vagas livre">
         13
        </div>
    </a>
    <a [routerLink]="['/estadias/cadastrar']" [queryParams]="{ vaga: 14 }">
        <div class="vagas livre">
         14
        </div>
    </a>
    <a [routerLink]="['/estadias/cadastrar']" [queryParams]="{ vaga: 15 }">
        <div class="vagas livre">
         15
        </div>
    </a>
    <a [routerLink]="['/estadias/cadastrar']" [queryParams]="{ vaga: 16 }">
        <div class="vagas livre">
         16
        </div>
    </a>
    <a [routerLink]="['/estadias/cadastrar']" [queryParams]="{ vaga: 17 }">
        <div class="vagas livre">
         17
        </div>
    </a>
    <a [routerLink]="['/estadias/cadastrar']" [queryParams]="{ vaga: 18 }">
        <div class="vagas livre">
         18
        </div>
    </a>
    <a [routerLink]="['/estadias/cadastrar']" [queryParams]="{ vaga: 19 }">
        <div class="vagas livre">
         19
        </div>
    </a>
    <a [routerLink]="['/estadias/cadastrar']" [queryParams]="{ vaga: 20 }">
        <div class="vagas livre">
         20
        </div>
    </a>
    <a [routerLink]="['/estadias/cadastrar']" [queryParams]="{ vaga: 21 }">
        <div class="vagas livre">
         21
        </div>
    </a>
    <a [routerLink]="['/estadias/cadastrar']" [queryParams]="{ vaga: 22 }">
        <div class="vagas livre">
         22
        </div>
    </a>
    <a [routerLink]="['/estadias/cadastrar']" [queryParams]="{ vaga: 23 }">
        <div class="vagas livre">
         23
        </div>
    </a>
    <a [routerLink]="['/estadias/cadastrar']" [queryParams]="{ vaga: 24 }">
        <div class="vagas livre">
         24
        </div>
    </a>
    <a [routerLink]="['/estadias/cadastrar']" [queryParams]="{ vaga: 25 }">
        <div class="vagas livre">
         25
        </div>
    </a>


</div>